@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.icons {
    height: 25px;
    width: auto;
    float: left;
}

#dashboard-icon {
    height: 50px;
    width: auto;
}

.profile-pic {
    height: 50px;
    width: auto;
    border-radius: 100px;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template: 30% 70%/ 20% 80%;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 100px 300px 300px;
    padding-left: 10px;
    background-color: #1892d3;
}

.sidebar > div > p, .sidebar > h1 {
    display: flex;
    gap: 10px;
}



input {
    border-radius: 10px;
    background-color: grey;
    border: none;

}

.header {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    margin-left: 100px;
    margin-top: 10px;
}

.header-row-1 {
    display: flex;
    justify-content: space-between;
}



.header-row-2 {
    display: flex;
    justify-content: space-between;
}

.user-btns {
    align-self: center;
    margin-right: 10px;
}
.user-btns button{
    color: white;
    background-color: #1892d3;
    border-radius: 20px;
    border: none;
    width: 75px;
    height: 35px;
}

.profile-btns {
    display: flex;
    align-items: center;
        gap: 30px;
        margin-right: 50px;
}

.user-welcome {
    display: flex;
    gap: 30px;
    align-items: center;
}

/** Main Content**/
.content {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template: 420px 500px/ 950px 200px;
    grid-gap: 12px;
    background-color: #e1e8f0;
}

.projects .card {
    background-color: white;
    border-radius: 15px;
    border-left: 7px solid rgba(241,179,42,255) ; 
    padding-top: 0px;
    height: 250px;
}

.projects .card p{
    margin-left: 10px;
}

.card-icons {
    text-align: end;
    margin-right: 12px;
    margin-top: 60px;
    margin-left: 135px;
    padding: 10px;
}

.projects {
    grid-row: 1/-1;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,300px);
    gap: 10px;
    justify-content: space-around;
}

.announcements {
    grid-row: 1;
    grid-column: 2;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.announcements .card {
    border-bottom: 1px solid black;
}

.trending {
    grid-row: 2;
    grid-column: 2/3;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
